

.h1-oromo, .random-facts, .oromopeople, .rural, .li-second {
    color: black;
}

.oromiffa {
    color: rgb(29, 24, 24);
}

.paragraph {
    color: rgb(98, 36, 156);
}

.gadaasystem {
    color: rgb(43, 43, 124);
}




    